body {
  /* height: 100vh; */
  margin: 0;
  display: grid;
  place-items: center;
  padding: 1rem;
  background: white;
}

h1 {
  margin: 0;
  font-size: 60px;
  font-family: "Exo 2", "Source Code Pro";
}

h3 {
  margin: 0;
  font-family: "Exo 2", "Source Code Pro";
}

.tittle {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.SEC_title {
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  font-family: "Iceland", sans-serif;
  color: #ff1ead;
}
.card {
  position: relative;
  width: calc(400px * 1.586);
  height: 400px;
  margin-top: 80px;
  border-radius: 0.75rem;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  background: black;
  color: white;
  align-items: center;

  /* --change smoothly */
  will-change: transform;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  /* hover over card */
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 32px 80px 14px rgba(0, 0, 0, 0.36),
      0 0 0 1px rgba(0, 0, 0, 0.3);
  }
}

#loading {
  text-align: center;
  justify-content: center;
}

#myForm {
  justify-content: center;
  display: flex;
  font-family: "Iceland", sans-serif;
  font-size: 22px;
}

.leftContainer {
  height: 200px;
  padding: 40px;
}
.rightContainer {
  height: 200px;
  padding: 40px;
}

#myForm input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
}

#myForm input[type="checkbox"]:checked {
  background-color: #ff1ead;
  border-color: #ff1ead;
}
#submitBtn {
  height: 40px;
  width: 80px;
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #ff1ead;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-family: "Iceland", sans-serif;
  font-size: 20px;
}

#submitBtn:hover {
  background-color: #ff1ead;
  color: #ffffff;
}

#cardContainers {
  display: grid;
  grid-template-columns: 40% auto;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "Iceland", sans-serif;
  font-size: 22px;
}

.card-avatar {
  display: grid;
  place-items: center;
  text-align: center;
  align-self: end;
  padding-bottom: 4rem;
  width: 120px;
  overflow: hidden;
}

.card-details,
.card-avatar {
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.photo {
  height: 200px;
  width: 150px;
  /* background: white; */
  margin-bottom: 1.5rem;
  /* border: 1px solid black; */
}

.card-user {
  display: flex;
  flex-direction: column;
}

.card-details {
  padding: 1rem;
  bottom: 20px;
  right: 10px;
  width: 280px;
  overflow: hidden;
}

.card-names {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
}

.names {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.name {
  font-size: 20px;
  font-weight: 600;
}

#firstname,
#lastname {
  font-size: 22px;
}
.occupation {
  margin-top: 0.15rem;
  font-size: 20px;
  color: #ff1ead;
}

.card-avatar {
  display: grid;
  place-items: center;
}

.card-about {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  .value {
    font-size: 20px;
  }
}

.card-skills {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  font-size: 20px;
}

.skills {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.skillitem {
  color: #ff1ead;
}
